body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background: #849d8f url("../img/background.png") no-repeat top;
	
}

@import "scss/_header";
@import "scss/_footer";


.slider1{
	transition: 1.4s;
	background: #849d8f url("../img/background.png") no-repeat top;
}

.slider2{
	transition: 1.4s;
	background: #8996a6 url("../img/background-2.png") no-repeat top;;

}
.slider3{
	transition: 1.4s;
	background: #9d8b84 url("../img/background-3.png") no-repeat top;;
}

.slider1-offer{
	transition: 0.7s;
			background: url(../img/morojenko.png) no-repeat top !important;

}
.slider2-offer{
		transition: 0.7s;
			background: url(../img/morojenko-2.png) no-repeat top !important;
	
}
.slider3-offer{
		transition: 0.7s;
			background: url(../img/morojenko-3.png) no-repeat top !important;
}


.page-feature {
	.page-feature__inner {
	width: 1146px;
	margin: 0 auto;

	height: 567px; 
	display: flex;
	flex-direction: row;
	justify-content: space-between;
 }
 
	.page-feature__buttons-carousel{
		visibility: hidden;
		width: 217px;
		height: 70px;
		align-self: flex-end;
				
					input[type="radio"] {
    display: none;
}
input[type="radio"] + label {
    display:inline-block;
    background: transparent;
    border: 2px #fff solid;
		border-radius: 25px;
    width:20px;
    height:20px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    
    cursor:pointer;
}
input[type="radio"]:checked + label {
    background-color: #fff;
    border-radius: 25px;


}

	}






		.page-feature-offer{ 
		
		display: flex;
		text-align: center;
		flex-direction: column;
		height: 587px;
		
		width: 700px; //questionable but works

		justify-content: flex-end;
		align-items: center;

		background: url(../img/morojenko.png) no-repeat top;
		//margin-top might be here
		
		.page-feature__heading{

		margin: 0;
		font-size: 60px;
		color: #fff;
		font-weight: 900;
		line-height: 60.35px;
		margin-bottom: 32px;
	}
		.page-feature__button {
			
		  	background: linear-gradient(to top, rgba(231,74,53,1) 0%, rgba(242,105,67,1) 100%);;
				border-radius: 45px;
				box-shadow: 1px 6px 4px -5px rgba(0,0,0,0.75);
				text-shadow: 0px 2px 2px rgba(160, 32, 11, 0.75);
			color: #fff;
			font-size: 31.48px;
			font-weight: 700;
			line-height: 62.93px;
			padding: 0 41px;
			margin-bottom: 60px;
			cursor: pointer;
			outline:none;
			&:hover{
				background: #ed705e;
			}
		}
	}

	.page-feature-phone{
	width: 227px;
	color: #fff;
	text-align: right;
		.feature-phone__describe{
		font-size: 14px;
		font-weight: 700;
		margin: 0;
		}
		.feature-phone__describe--strong{
			font-size: 22px;
			font-weight: 900;
		}
	}
}


.page-content {

	.page-content__inner{
		width: 1146px;
		margin: 0 auto;
	}

	.content-goods--wrap {
				display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 40px;
	}
	.content-goods-order--raspberry{
		
		width: 520px; //560
		height: 190px; //230
		padding: 20px;
		background: url(../img/rasp.png) top no-repeat;
		border-radius: 15px;
		display: flex;
		flex-direction: column;
	}
	.content-goods-order--chocolate{
		
		width: 520px; //560
		height: 190px; //230
		padding: 20px;
		background: url(../img/choco.png) top no-repeat;
		border-radius: 15px;
		display: flex;
		flex-direction: column;
	}

	.content-goods__heading{
			color: #fff;
			margin: 0;
			font-size: 35px;
			font-weight: 700;
			line-height: 1.2;
			height: 47px;
			overflow: hidden;
	}

	.content-goods__describe {
		color: #fff;
		margin: 0;
		font-size: 18px;
		font-weight: 700;
		height: 90px;
		overflow: hidden;
	}

	.content-goods__button {
		  	background: linear-gradient(to top, rgba(231,74,53,1) 0%, rgba(242,105,67,1) 100%);;
				border-radius: 45px;
				box-shadow: 1px 6px 4px -5px rgba(0,0,0,0.75);
				text-shadow: 0px 2px 2px rgba(160, 32, 11, 0.75);
			color: #fff;
			padding: 12px 17px;
			font-size: 18px;
			font-weight: 700;
			line-height: 1.2;
			align-self: flex-end;
			cursor: pointer;
									outline:none;
						&:hover{
				background: #ed705e;
			}
	}

.content-goods-icecream{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	.icecream__items{
	width: 267px;
	height:360px;
	&:hover{
	background: rgba(255,255,255,0.3);
	border-radius: 5px;
box-shadow: 2px 16px 84px -1px rgba(0,0,0,0.44);
	 }

}

.icecream__item-1--img{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 267px;
		background: url(../img/1.png) top no-repeat;
	}
	.icecream__item-1--hit{
		width: 61px;
		height: 61px;
		flex-shrink: 0;
		background: url(../img/hit.png) center no-repeat;
	}
	.item-1__heading{
	margin: 0;
	font-size: 45px;
	color: #fff;
	text-shadow: 2px 2px 2px rgba(49, 50, 53, 0.50);

	}
	.item-1__descr--wrap{
		text-align: center;
		margin: 15px 0;
		.item-1__descr{
			font-size: 16px;
			line-height: 22px;
			text-decoration: none;
      border-bottom: 1px solid rgba(255,255,255,.4);
			color: #fff;
		}
	}

.icecream__item-2--img{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 267px;
		background: url(../img/2.png) top no-repeat;
	}
	.icecream__item-2--hit{
		width: 61px;
		height: 61px;
		flex-shrink: 0;
		background: url(../img/hit.png) center no-repeat;
	}
	.item-2__heading{
	margin: 0;
	font-size: 45px;
	color: #fff;
	text-shadow: 2px 2px 2px rgba(49, 50, 53, 0.50);
	}
	.item-2__descr--wrap{
		text-align: center;
		margin: 15px 0;
		.item-2__descr{
			font-size: 16px;
			color: #fff;
			line-height: 22px;
			text-decoration: none;
      border-bottom: 1px solid rgba(255,255,255,.4);
		}
	}

.icecream__item-3--img{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 267px;
		background: url(../img/3.png) top no-repeat;
	}
	.icecream__item-3--hit{
		width: 61px;
		height: 61px;
		flex-shrink: 0;
		background: url(../img/hit.png) center no-repeat;
	}
	.item-3__heading{
	margin: 0;
	font-size: 45px;
	color: #fff;
	text-shadow: 2px 2px 2px rgba(49, 50, 53, 0.50);
	}
	.item-3__descr--wrap{
		text-align: center;
		margin: 15px 0;
		.item-3__descr{
			font-size: 16px;
			color: #fff;
			line-height: 22px;
			text-decoration: none;
      border-bottom: 1px solid rgba(255,255,255,.4);
		}
	}

.icecream__item-4--img{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 267px;
		background: url(../img/4.png) top no-repeat;
	}
	.icecream__item-4--hit{
		width: 61px;
		height: 61px;
		flex-shrink: 0;
		background: url(../img/hit.png) center no-repeat;
	}
	.item-4__heading{
	margin: 0;
	font-size: 45px;
	color: #fff;
	text-shadow: 2px 2px 2px rgba(49, 50, 53, 0.50);
	}
	.item-4__descr--wrap{
		text-align: center;
		margin: 15px 0;
		.item-4__descr{
			font-size: 16px;
			color: #fff;
			line-height: 22px;
			text-decoration: none;
      border-bottom: 1px solid rgba(255,255,255,.4);
		}
	}
}
	
}

.about-us{
*{
	outline: 1px dashed black;
}

			.waffle{
		width: 1106px; //1446
		height: 266px; //306
		padding: 20px;
		margin-bottom: 40px;
		border-radius: 15px;
		
				background: url(../img/waffle.png) center top;

			.about-us__heading{
					margin: 0;
					color: #323232;
					font-size: 24px;
					line-height: 30px;
					font-weight: 500;
					height: 61px;
					overflow: hidden;

				}
				
				.about-us__img{
					width:47px;
					height:47px;
				}

				.about-us__describe {
					margin: 0;
					margin-top: 13px;
					margin-left: 10px;
					color: #323232;
					font-size: 16px;
					font-weight: 400;
					line-height: 22px;
				}

.wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.about-us__item{
		padding-top: 12px;
		display: inline-flex;
		width: 540px;
		align-items: flex-start;
	}
}
	}
}








.social{
	margin-bottom: 40px;

	.content-social--wrap {
				display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 40px;
	}
	
	.content-forum{
		
		width: 520px; //560
		height: 180px; //220
		padding: 20px;
		background: url(../img/blog.png) top no-repeat;
		border-radius: 15px;
		display: flex;
		flex-direction: column;
		.content-forum--link{
			color:#000;

		}
	}
	.content-mail{
		
		width: 520px; //560
		height: 180px; //220
		padding: 20px;
		background: url(../img/mail.png) top no-repeat;
		border-radius: 15px;
		display: flex;
		flex-direction: column;
	}
	.content-mail__describe {
		margin: 0;
		padding-top: 10px;
		font-size: 16px;
		line-height: 22px;
		font-weight: 400;
		color: #5a5a5a;
		height: 98px;
	}
	.content-forum__heading{
			color: #323232;
			margin: 0;
			font-size: 24px;
			font-weight: 700;
			line-height: 1.2;
			width: 300px;
			text-decoration: underline;
	
}
	.content-forum__describe {
		margin: 0;
		font-size: 16px;
		font-weight: 500;
		color: #5a5a5a;
		height: 22px;
	}

.form-mail {
	display: inline-flex;
	align-items: center;

	.form-mail__input {
	padding-left: 10px;
	color: #999999;
	
	width: 366px;
	height: 42px;
		border: 2px solid #d3d3d2;
		border-radius: 6px;
		outline: none;
		color: #656565;
		transition: border 1s;
				&:focus{		
		border: 2px solid #8fbdec;	
		transition: 0.7s;
 			&::-webkit-input-placeholder {
							transition: 0.7s;
              color: #8fbdec;
            }		
					}
}
	.form-mail__button {
			border: none;
			cursor: pointer;
			padding: 9px 19px;
			margin-left: 10px;
		  	background: linear-gradient(to top, rgba(231,74,53,1) 0%, rgba(242,105,67,1) 100%);;
				border-radius: 45px;
				box-shadow: 1px 6px 4px -5px rgba(0,0,0,0.75);
				text-shadow: 0px 2px 2px rgba(160, 32, 11, 0.75);
			color: #fff;
			font-size: 16px;
			font-weight: 700;
			line-height: 24.3px;
									outline:none;
						&:hover{
				background: #ed705e;

			}
						
		}
	}
}

.subfooter{
	width: 1200px;
	margin: 0 auto;
	position: relative;
	
	.map{
		background: url(../img/map.png);
		width: 1200px;
		height: 430px;
	 }

	.feedback{
		position: absolute;
	  top: 66px;
	  right: 27px;
		width: 302px;
		height: 305px;
		background-color: #fefefe;
		border-radius: 15px;
		.text-feedback{
			margin: 0;
			padding: 30px 25px;
			 .text-feedback--strong{
				display: block;
				font-size: 18px;
				line-height: 24px;
				font-weight: 700;
				margin-bottom: 7px;
				}
				.text-feedback__span{
				 display: block;
				 font-size: 14px;
				 font-weight: 400;
				 height: 32px;
				 margin-bottom: 7px;
				 }
			 	.text-feedback__parapraph{
			 	 margin: 0;
		  	 }
	 	}  

	  .text-feedback__button{
	  	visibility: hidden;
	    text-align: center;
	    border: none;
	    width: 100%;
	    height: 44px;
			background: linear-gradient(to top, rgba(231,74,53,1) 0%, rgba(242,105,67,1) 100%);;
			border-radius: 45px;
			box-shadow: 1px 6px 4px -5px rgba(0,0,0,0.75);
			text-shadow: 0px 2px 2px rgba(160, 32, 11, 0.75);
	    padding: 5px;
	    color: #fff;
	    font-size: 15px;
	    font-weight: 700;
	    line-height: 24px;
	    cursor: pointer;
			outline:none;

				&:hover{
				background: #ed705e;
					    	outline:none;
				}
	   	  &:active{
	    	outline:none;
	   	  }
		}
}


}

.modal-overlay{
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background: rgba(52,52,52,.4);
}
.modal-overlay--show{
	display: block;

}
.modal-feedback--show{
	display: flex !important;


}


.modal-feedback{
		display: none;
	flex-direction: column;
	position: fixed;
	z-index: 20;
top:120px;
left: 40%;
	padding: 20px;
	width: 457px; //477
	height: 422px; //442
	background-color: #f8f7f4;
	border-radius: 11px;

	.feedback__heading{
		margin: 0;
		color: #343434;
		font-size: 24px;
	}
.modal__close{
		align-self: flex-end;
		position: relative;
		width: 24px;
		height: 26px;
		cursor: pointer;

			&::before,&::after{
			position: absolute;
			content: "";
			background-color: #343434;
		  top: 0px;
			left: 0px;
			width: 2px;
			height: 25px;
			}
			&::before{
			transform: rotate(-45deg);
			}
			&::after{
			transform: rotate(45deg);
			}
		}
	.feedback-form{
	display: flex;
	flex-direction: column;

	.feedback__input{
		margin-bottom: 20px;
		padding: 0 5px;
		height: 44px;
		width: 267px;
		font-size: 14px;
		line-height: 24px;
		font-weight: 400;
		border: 2px solid #d3d3d2;
		border-radius: 6px;
		outline: none;
		color: #656565;
		transition: border 1s;
		&:focus{		
		border: 2px solid #8fbdec;	
		transition: 0.7s;
 			&::-webkit-input-placeholder {
							transition: 0.7s;
 							font-size: 11px;
              color: #8fbdec;
            }		
					}
				}

		.textarea {

			padding: 0px 5px;
			width: 428px;
			height: 155px;
			resize: none;
		}

	.feedback__button{
		align-self: flex-end;
			border: none;
			cursor: pointer;
			padding: 9px 19px;
			margin-left: 10px;
		  	background: linear-gradient(to top, rgba(231,74,53,1) 0%, rgba(242,105,67,1) 100%);;
				border-radius: 45px;
				box-shadow: 1px 6px 4px -5px rgba(0,0,0,0.75);
				text-shadow: 0px 2px 2px rgba(160, 32, 11, 0.75);
			color: #fff;
			font-size: 16px;
			font-weight: 700;
			line-height: 24.3px;
						outline:none;
				
						&:hover{
				background: #ed705e;
						}
						&:active{
						}

		}
	}
}


