.item__button{
      box-sizing: border-box;
      border:0;   
      padding: 10px 43.1px;  
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
      color: #fff;
      outline:none;
      border-radius: 3px;
      background-color: #a0a0a0;
      &:hover{
        background-color: #616161;
      }
      &:active{
        background-color: #aeaeae;
        box-shadow: 0px 3px 0px #929292 inset;
      }
  } 

  .button--red{
      background-color: #fb565a;
       &:hover{
        background-color: #d6494d;
      }
      &:active{
        background-color: #b63538;
        box-shadow: 0px 3px 0px #9b2d30 inset;
      }
  }

  .button--green{
      background-color: #00ca74;
       &:hover{
        background-color: #01a25e;
      }
      &:active{
        background-color: #009053;
        box-shadow: 0px 3px 0px #007b47 inset;
      }
  }

  .button--yellow{
        background-color: #efc84a;
         &:hover{
          background-color: #d6ae2c;
        }
          &:active{
          background-color: #c09b24;
          box-shadow: 0px 3px 0px #a3841f inset;
      }
  } 