body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

.page-header {
  font-family: 'Roboto', sans-serif;
  background-color: #eeeeee;
  padding-top: 28px;
  margin-bottom: 80px;
}
.page-header .header-inner {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
}
.page-header .header-wrap {
  margin-bottom: 32px;
  width: 100%;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: top;
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.page-header .header-wrap .header__logo {
  font-size: 0;
}
.page-header .header-wrap .header-navigation .navigation-list {
  list-style: none;
  margin: 0;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.page-header .header-wrap .header-navigation .navigation-list .navigation__items {
  padding-left: 40px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  color: #000;
}
.page-header .header-wrap .header-navigation .navigation-list .navigation__items .item__link {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}
.page-header .header-wrap .header-navigation .navigation-list .navigation__items .item__link:hover {
  color: #fb565a;
}
.page-header .header-wrap .header-navigation .navigation-list .navigation__items .item__link:active {
  color: #000;
  opacity: 0.4;
}
.page-header .header-feature {
  width: 100%;
  height: 319px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.page-header .header-feature .feature-text {
  width: 470px;
  margin-top: 30px;
}
.page-header .header-feature .feature-text .feature-text__heading {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 500;
  color: #000;
  white-space: pre-line;
}
.page-header .header-feature .feature-text .feature-text__paragraph {
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #283136;
  white-space: pre-line;
}
.page-header .header-feature .feature-text .feature-text__button {
  box-sizing: border-box;
  border: 0;
  padding: 10px 75.4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #fff;
  outline: none;
  border-radius: 3px;
  background-color: #fb565a;
}
.page-header .header-feature .feature-text .feature-text__button:hover {
  background-color: #d6494d;
}
.page-header .header-feature .feature-text .feature-text__button:active {
  background-color: #b63538;
  box-shadow: 0px 3px 0px #9b2d30 inset;
}
.page-header .header-feature .feature-text .feature-buttons {
  box-sizing: border-box;
  padding-right: 20px;
  width: 100%;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.page-header .header-feature .feature-img {
  display: -ms-flexbox;
  display: flex;
}

.page-footer {
  font-family: 'Roboto', sans-serif;
  margin-top: 77px;
  padding-bottom: 77px;
}
.page-footer .inner-content {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
}
.page-footer .footer-wrap {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.page-footer .be-friends {
  margin-left: 80px;
}
.page-footer .be-friends .footer__heading {
  margin: 0;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 500;
  line-height: 36px;
  color: #000000;
}
.page-footer .be-friends .footer__paragraph {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #283136;
}
.page-footer .social {
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.page-footer .social .social__icons {
  margin-right: 28px;
  position: relative;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background-color: #e1e1e1;
  cursor: pointer;
}
.page-footer .social .social__icons:last-child {
  margin: 0;
}
.page-footer .social .social__icons:hover {
  background-color: #fb565a;
}
.page-footer .social .social__icons:active {
  background-color: #b63538;
  box-shadow: 0px 3px 0px #9b2d30 inset;
}
.page-footer .social .icon {
  position: absolute;
  color: #ffffff;
  top: 22px;
  left: 19px;
}

.item__button {
  box-sizing: border-box;
  border: 0;
  padding: 10px 43.1px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #fff;
  outline: none;
  border-radius: 3px;
  background-color: #a0a0a0;
}
.item__button:hover {
  background-color: #616161;
}
.item__button:active {
  background-color: #aeaeae;
  box-shadow: 0px 3px 0px #929292 inset;
}

.button--red {
  background-color: #fb565a;
}
.button--red:hover {
  background-color: #d6494d;
}
.button--red:active {
  background-color: #b63538;
  box-shadow: 0px 3px 0px #9b2d30 inset;
}

.button--green {
  background-color: #00ca74;
}
.button--green:hover {
  background-color: #01a25e;
}
.button--green:active {
  background-color: #009053;
  box-shadow: 0px 3px 0px #007b47 inset;
}

.button--yellow {
  background-color: #efc84a;
}
.button--yellow:hover {
  background-color: #d6ae2c;
}
.button--yellow:active {
  background-color: #c09b24;
  box-shadow: 0px 3px 0px #a3841f inset;
}

.page-content {
  font-family: 'Roboto', sans-serif;
}
.page-content .our-work {
  margin-bottom: 60px;
}
.page-content .our-work .inner-content {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
}
.page-content .our-work .our-work-wrap {
  width: 100%;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 40px;
}
.page-content .our-work .our-work-wrap .web, .page-content .our-work .our-work-wrap .apps, .page-content .our-work .our-work-wrap .presentation {
  width: 240px;
  padding-bottom: 40px;
}
.page-content .our-work .our-work-wrap .img__web {
  width: 240px;
  height: 124px;
}
.page-content .our-work .our-work-wrap .text__heading {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: #000;
}
.page-content .our-work .our-work-wrap .text__paragraph {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: #283136;
}
.page-content .about-us {
  margin-bottom: 45px;
}
.page-content .about-us .inner-content {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
}
.page-content .about-us .about-us-wrap {
  width: 100%;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-direction: column;
      flex-direction: column;
}
.page-content .about-us .about-us-wrap .who-we-are {
  width: inherit;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 38px;
}
.page-content .about-us .about-us-wrap .text {
  width: 582px;
}
.page-content .about-us .about-us-wrap .text .about-us__heading {
  margin: 10px 0;
  margin-bottom: 18px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 500;
  color: #000;
}
.page-content .about-us .about-us-wrap .text .about-us__paragraph {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #283136;
}
.page-content .about-us .about-us-wrap .logo {
  width: 240px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.page-content .about-us .about-us-wrap .logo .about-us__logo {
  width: 185px;
  height: 73px;
  font-size: 0;
  -ms-flex-item-align: center;
      align-self: center;
}
.page-content .about-us .about-us-wrap .logo .wrap-paragraph {
  -ms-flex-item-align: center;
      align-self: center;
  width: inherit;
  text-align: center;
}
.page-content .about-us .about-us-wrap .logo .wrap-paragraph::after {
  content: '';
  display: block;
  position: relative;
  z-index: -1;
  top: -40px;
  border-bottom: 2px solid #eeeeee;
}
.page-content .about-us .about-us-wrap .logo .wrap-paragraph .logo__paragraph {
  background-color: white;
  display: inline-block;
  z-index: 2;
  margin: 30px 0;
  padding: 0 15px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.page-content .about-us .about-us-wrap .what-we-do {
  width: 100%;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.page-content .about-us .about-us-wrap .what-we-do .left-list {
  width: 461px;
}
.page-content .about-us .about-us-wrap .what-we-do .right-list {
  width: 232px;
}
.page-content .about-us .about-us-wrap .what-we-do__heading {
  margin: 10px 0;
  margin-bottom: 28px;
  font-size: 16px;
  font-weight: 500;
  color: #283136;
  text-transform: uppercase;
}
.page-content .about-us .about-us-wrap .list {
  list-style-image: url("../img/list.png");
}
.page-content .about-us .about-us-wrap .list .list__item {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  margin: 26px 0;
  color: #283136;
}
.page-content .partners {
  margin-bottom: 85px;
}
.page-content .partners .inner-content {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
}
.page-content .partners .partners-wrap {
  padding-bottom: 33px;
  padding-top: 45px;
  margin-bottom: 60px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}
.page-content .partners .partners-wrap .images {
  width: 100%;
  padding: 0 12px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  box-sizing: border-box;
}
.page-content .partners .partners-wrap .images .partners__item {
  max-width: 209px;
  max-height: 91px;
  cursor: pointer;
}
.page-content .partners .partners-wrap .images .partners__item:hover {
  opacity: 0.2;
}
.page-content .partners .partners-wrap .images .partners__item:active {
  opacity: 1;
}

.subfooter .inner-content {
  width: 1200px;
  margin: 0 auto;
}
.subfooter .map {
  position: relative;
}
.subfooter .map .map__google {
  overflow: hidden;
  max-width: none !important;
  height: 416px;
  background: url(../img/map.jpg) top no-repeat;
}
.subfooter .map .map__modal {
  position: absolute;
  bottom: 70px;
  left: 160px;
  background-color: #fff;
  width: 250px;
  height: 240px;
  padding: 20px;
  box-sizing: border-box;
}
.subfooter .map .map__modal .modal__heading {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #000;
}
.subfooter .map .map__modal .modal__paragraph {
  margin-bottom: 27px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #666666;
}
.subfooter .map .map__modal .item__button {
  width: 100%;
  text-transform: uppercase;
}

.modal-write-us--show {
  display: block !important;
}

.modal-write-us {
  position: fixed;
  display: none;
  bottom: 270px;
  left: 300px;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 630px;
  height: 416px;
  background-color: #fff;
  box-shadow: 1px 5px 15px 2px rgba(50, 50, 50, 0.76);
}
.modal-write-us .button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  cursor: pointer;
}
.modal-write-us .button::after {
  z-index: 2;
  position: absolute;
  content: "";
  top: 13px;
  right: 23px;
  width: 5px;
  height: 25px;
  background-color: #fff;
}
.modal-write-us .button::before {
  z-index: 2;
  position: absolute;
  content: "";
  top: 23px;
  right: 13px;
  width: 25px;
  height: 5px;
  background-color: #fff;
}
.modal-write-us .button::after, .modal-write-us .button::before {
  transform: rotate(45deg);
}
.modal-write-us .button .circle::before {
  z-index: 1;
  position: absolute;
  content: "";
  top: 5px;
  right: 5px;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: #fb565a;
}
.modal-write-us .write-us-wrap {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 50px 85px;
  padding-bottom: 0;
}
.modal-write-us .write-us-wrap .modal-label {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.modal-write-us .write-us-wrap .write-us-name, .modal-write-us .write-us-wrap .write-us-email {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.modal-write-us .write-us-wrap .input__name, .modal-write-us .write-us-wrap .input__email {
  margin: 0 !important;
  margin-bottom: 21px !important;
  padding: 0 10px;
  box-sizing: border-box;
  width: 220px;
  height: 38px;
  margin: 5px;
  border: 2px solid #d7dcde;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  outline: none;
}
.modal-write-us .write-us-wrap .input__name:hover, .modal-write-us .write-us-wrap .input__email:hover {
  border-color: #a2a9ac;
}
.modal-write-us .write-us-wrap .input__name:focus, .modal-write-us .write-us-wrap .input__email:focus {
  border-color: #56bffb;
}
.modal-write-us .write-us-wrap ::-webkit-input-placeholder {
  color: #000;
  text-transform: uppercase;
}
.modal-write-us .write-us-wrap .write-us-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
}
.modal-write-us .write-us-wrap .write-us-text .input__textarea {
  box-sizing: border-box;
  border: 2px solid #d7dcde;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 48px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  height: 114px;
  resize: none;
  outline: none;
}
.modal-write-us .write-us-wrap .write-us-text .input__textarea:hover {
  border-color: #a2a9ac;
}
.modal-write-us .write-us-wrap .write-us-text .input__textarea:focus {
  border-color: #56bffb;
}
.modal-write-us .write-us-wrap .item__button {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */